/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------- css reset----------------- */
.wrap {
    margin: 0 auto;
    font-family: Microsoft JhengHei;
}

header {
    height: 400px;
    background: url('../images/the-urban-landscape-1698285.png');
    background-size: cover;
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 40px;
    letter-spacing: 3.89px;
    line-height: 41px;
    padding-top: 90px;
}

header select {
    width: 452px;
    height: 48px;
    margin-top: 96px;
    background: rgba(255, 255, 255, 0.70);
    border: 3px solid #FFFFFF;
    border-radius: 3px;
}

.hotSearch {
    width: 800px;
    height: 112px;
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    margin-top: 70px;
}

.hotSearch h2 {
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    line-height: 21px;
    margin-left: 26px;
    margin-top: 20px;
    font-weight: bold;
}

.btns input {
    width: 130px;
    height: 42px;
    background: #559AC8;
    border-radius: 5px;
    font-family: SimHei;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    font-family: Microsoft JhengHei;
    font-weight: bold;
}

.separationLine {
    background-image: linear-gradient(to right, #559AC8, #fff 45%);
    background-size: 10px 2px;
    background-repeat: repeat-x;
    height: 5px;
    margin-top: 100px;
    text-align: center;
}

.separationLine i {
    color: #8db4cf;
    transform: translateY(-50%);
    font-size: 20px;
    border: #8db4cf solid 2px;
    border-radius: 100px;
    padding: 0px 4px;
    background: #fff;
}

.showSpot {
    color: #8A82CC;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin: 30px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 464px;
    height: 300px;
    box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.2);
    margin: 20px 16px 36px 16px;
    background: #fff;
    flex: 0 0 40%;
}

.cardTopImg {
    height: 155px;
    background-size: cover;
    background-position: center center;
}

.spotName {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    padding-top: 110px;
    padding-left: 10px;
}

.spotZone {
    color: #FFFFFF;
    font-size: 16px;
    float: right;
    padding-right: 10px;
}

.cardInfor p {
    font-size: 16px;
    margin: 10px;
    line-height: 1.5;
}

footer {
    height: 90px;
    background: #559AC8;
    text-align: center;
    margin-top: 100px;
    padding-top: 25px;
}

footer p {
    padding-bottom: 10px;
}